@{
    ViewData["Title"] = "Update Profile";
}

@model HeardHospitality.Models.EmployeeExperience

<div class="text-center">
    <h1 class="display-4">Update Profile</h1>

    <h2>Work History</h2>




</div>