@{
    ViewData["Title"] = "Jobs";
}

@model List<JobPostingViewModel>


<!DOCTYPE html>
<html lang="en">
<body>
    <div class="text-center">
        <h1 class="display-4">My Active Job Openings</h1>

        ViewData["showButton"] = true;
        <partial name="_JobsPartial"/>

    </div>
</body>
</html>

