@*@page
@model HeardHospitality.Models.Business
@Html.Hidden("BusinessID")
@Html.Hidden("isVerified")
@Html.Hidden("LoginDetailsId")


@{
    ViewData["Title"] = "Register";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">

    <h2>BusinessInformation</h2>

    <form asp-controller="Business" asp-action="Index" method="post">

        <input placeholder="BusinessName" asp-for="BusinessName" />
        <br />
        <input placeholder="Phone Number" asp-for="PhoneNum" />
        <br />
        <br />
        <button type="submit">Continue</button>
    </form>


</div>*@