@page
@model EmpOrBusinessModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="empOrBusinessForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating">
                <input type="checkbox" asp-for="Input.isBusinessAccount" />
                <label asp-for="Input.isBusinessAccount"></label>
                <span asp-validation-for="Input.isBusinessAccount" class="text-danger"></span>
            </div>


            <div class="form-floating">
                <input type="checkbox" asp-for="Input.isEmployeeAccount" />
                <label asp-for="Input.isEmployeeAccount"></label>
                <span asp-validation-for="Input.isEmployeeAccount" class="text-danger"></span>
            </div>
            <br />
            <br />
            <br />
            
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Continue</button>
        </form>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
