@page
@using HeardHospitality.Areas.Identity.Pages.Account
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


    <div class="text-center">
        <br/>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div id="general-form">
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br/>

            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br/>

            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <br/>
            </div>
            @if (Model.isEmployeeAccount == true)
            {
            <div class="form-floating checkbox login-checkbox">
                    <input type="checkbox" asp-for="Input.isEmployeeAccount" hidden="hidden" checked />
                </div>

                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-secondary">Register</button>

            }

            @if (Model.isBusinessAccount == true)
            {
                <div class="form-floating checkbox login-checkbox">
                    <input type="checkbox" asp-for="Input.isBusinessAccount" hidden="hidden" checked />
                </div>

                <button id="reg-continue-btn" class="w-100 btn btn-lg btn-secondary" onclick="ShowMore();">Continue</button>
                <br/>

                <div class="mid" id="HiddenDiv" style="display: none;">
                    <div class="form-floating">
                        <input asp-for="Input.BusinessName" class="form-control" autocomplete="business-name" aria-required="true" required />
                        <label asp-for="Input.BusinessName" class="form-label"></label>
                        <span asp-validation-for="Input.BusinessName" class="text-danger"></span>
                    </div>
                    <br/>

                    <div class="form-floating">
                        <input asp-for="Input.PhoneNum" class="form-control" autocomplete="phonenumber" aria-required="true" required/>
                        <label asp-for="Input.PhoneNum" class="form-label"></label>
                        <span asp-validation-for="Input.PhoneNum" class="text-danger"></span>
                    </div>
                    <br/>

                    <div class="form-floating">
                        <input asp-for="Input.City" class="form-control" autocomplete="city" aria-required="true" required/>
                        <label asp-for="Input.City" class="form-label"></label>
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                    <br/>

                    <div class="form-floating">
                        <input asp-for="Input.County" class="form-control" autocomplete="county" aria-required="true" required/>
                        <label asp-for="Input.County" class="form-label"></label>
                        <span asp-validation-for="Input.County" class="text-danger"></span>
                    </div>

                    <br/>

                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-secondary">Submit</button>

                </div>


            }


        </form>
    </div>

<script>
    function ShowMore() {
        $('#HiddenDiv').show();
        $('#reg-continue-btn').hide();
        $('#general-form').hide();
    };
</script>

@section Scripts {


    <partial name="_ValidationScriptsPartial" />
}
